
    .dropdown-menu.show{
        position: absolute !important;
        right: 10px;
        right: 0px;
        left: initial !important;
        transform: translate(0px , -260px) !important;

    }
    .btn-main-primary {
        color: #fff !important;
        background-color: #6259ca !important;
        border-color: #6259ca !important;
    }