::ng-deep{
    .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
        top: 5px;
        padding-left: 50px !important;
        padding-right: 10px !important;
    }
}