::ng-deep{
    .input-group-append .ng-select .ng-select-container{
        height: 44px;
    }
    .icons_select2.ng-select{
        height: 46px;
    }

    @media (max-width:400px) {
        .input-group .wd-30p {
            width: 40% ;
        }        
    }

    .ng-select .ng-select-container .ng-value-container{
        padding-left: 0;
        padding-right: 10px;
    }

    form input:checked + label:before, .form input:checked + label:before{
        z-index: 1;
    }

    .ng-select, .ng-select div, .ng-select input, .ng-select span{
        box-sizing: content-box;
    }
}